<ol class="breadcrumb">
  <li><a href="#" class="active">Home</a></li>
</ol>
<div class="jumbotron">
  <h1>Quotes app</h1>
  <p>
    <a class="btn btn-primary btn-lg" href="/quotes/new" role="button">Create one</a>
  </p>
</div>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation" <%= @order == "date" ? 'class="active"' : '' %>><a href="/quotes?order=date">Date</a></li>
  <li role="presentation" <%= @order == "description" ? 'class="active"' : '' %>><a href="/quotes?order=description">Description</a></li>
  <li role="presentation" <%= @order == "author" ? 'class="active"' : '' %>><a href="/quotes?order=author">Author</a></li>
</ul>
<hr>
<% if @flash %>
<div class="alert alert-<%= @flash[:type] %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= @flash[:message] %>
</div>
<% end %>
<% @quotes.each do |q| %>
<blockquote>
  <p><%= q[:description] %></p>
  <footer><%= q[:author] %></footer>
</blockquote>
<a href="/quotes/<%= q[:id] %>" class="btn btn-default">
  <span class="glyphicon glyphicon-share"></span> Share
</a>
<a href="/quotes/<%= q[:id] %>/edit" class="btn btn-default">
  <span class="glyphicon glyphicon-edit"></span> Edit
</a>
<a href="/quotes/<%= q[:id] %>/delete" class="btn btn-danger">
  <span class="glyphicon glyphicon-remove"></span> Delete
</a>

<hr>
<% end %>